
# Environment variables
.env

# OS-specific
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
build/

# Lock files
package-lock.json

# Optional: Ignore Firebase or secret config if applicable
src/config/firebase.js